body {
  margin: 0;
  font-family: sans-serif;
}

.card-1 {
  position: sticky;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  top: 0;
  & header {
    background-color: red;
    height: 10vh;
  }
}

header p {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  top: 2%;
  left: 2%;
}

p {
  margin: 0;
}

.text {
  font-weight: bold;
  font-size: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-2 {
  position: sticky;
  height: 100vh;
  background-color: #65bbff;
  top: 0;
  & header {
    background-color: #014981;
    height: 10vh;
  }
}

.card-3 {
  position: sticky;
  height: 100vh;
  background-color: #5f5850;
  top: 0;
  & header {
    background-color: #292925;
    height: 10vh;
  }
}

.card-4 {
  position: sticky;
  height: 100vh;
  background-color: #f13d29;
  top: 0;
  & header {
    background-color: #7d322b;
    height: 10vh;
  }
}
